---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="La UNA cumple 10 años">
  <main>
    <section class="container">
      <div class="data">
        <h3><pre>01.10</pre>¡Llegó octubre!</h3>
        <h2 class="title">
          Este mes la UNA cumple 10 años y <span class="block">
            queremos celebrar con nuestra comunidad
          </span>
        </h2>
        <div class="text">
          <p>
            Este mes la UNA cumple 10 años y queremos celebrar con nuestra
            comunidad M uy pronto les contaremos todo lo que estamos preparando.
            Pero antes, nos toca una tarea fundamental: ir a la Marcha Federal
            Universitaria para luchar por las Universidades Públicas, para
            apoyar la Ley de Financiamiento Universitario, porque sin salarios
            dignos no hay Universidad.
          </p>
          <p>Estaremos ahí por el futuro de todas y todos.</p>
        </div>
        <h2 class="convocatoria">
          ¡Este miércoles 2 de octubre buscá <span class="block"
            >la bandera de la UNA!</span
          >
        </h2>
        <div class="btn-container">
          <a href="">Mira la convocatoria</a>
        </div>
      </div>
      <div class="bg-video">
        <video autoplay muted loop>
          <source src="./MAIN 10A Colores A.webm" type="video/webm" />
        </video>
      </div>
    </section>
  </main>
</Layout>

<style>
  main {
    height: 100vh;
    width: 100vw;

    & .container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

      & h3 {
        font-weight: 100;
        font-size: 2em;
        margin-top: 0;

        & pre {
          font-weight: 100;
          font-family: "Courier New", Courier, monospace;
          margin: 0;
        }
      }

      & .title {
        font-size: clamp(1.5rem, 3vw, 2.5rem);
      }

      & .convocatoria {
        font-size: clamp(1.2rem, 2vw, 2rem);
      }

      & .data {
        text-align: center;
        max-width: 50em;
        margin: 0 2em;

        & .text {
          margin-top: 3em;
        }

        & .btn-container {
          margin-top: 8vh;
          & a {
            border-radius: 9999px;
            color: #000000;
            padding: 1em 1.5em;
            background-image: linear-gradient(
              75deg,
              #dc0b76,
              #e0781c,
              #e0781c,
              #dc0b76
            );
            background-size: 300%;
            background-position: right;
            transition: background-position 0.5s ease-in-out;

            &:hover {
              background-position: left;
            }
          }
        }
      }

      & .bg-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        user-select: none;
        z-index: -1;
        overflow: hidden;

        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: #000000;
          opacity: 0.65;
        }

        & video {
          width: 100vw;
          height: 100vh;
          position: fixed;
          top: 0;
          left: 0;
          object-fit: cover;
        }
      }
    }
  }
</style>
